<section class="form-auth text-center">
<div class="columns">
  <div class="column is-8">
    <h3 class="title is-3">Tutti gli utenti</h3>
    <% @accounts.each do |account| %>
      <% if account.id != current_account.id %>
       <%= link_to "Messaggia con #{account.username}", conversations_path(sender_id: current_account.id, recipient_id: account.id), method: "post" %>
       <br>
      <% end %>
    <% end %>
  </div>

  <div class="column is-7">
    <h3 class="title is-3">Conversazioni</h3>
    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_account.id || conversation.recipient_id == current_account.id %>
        <% if conversation.sender_id == current_account.id %>
          <% recipient = Account.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = Account.find(conversation.sender_id) %>
        <% end %>
        <% unless current_account.id == recipient %>
          <div class="columns">
            <div class="column">
              <div class="inline-block nudge-down-10"><%= gravatar_for recipient, size: 32 %></div>
              <div class="inline-block"><%= link_to recipient.username, conversation_messages_path(conversation) %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</section>
