<section class="form-auth text-center">
    <% if has_role?(:admin) %>
        <h3 class="title is-3">Conversazioni private</h3>
            <% @conversations.each do |conversation| %>
                <% recipient = Account.find(conversation.recipient_id) %>
                <% sender = Account.find(conversation.sender_id) %>
                <% if Message.exists?(conversation_id: conversation.id) && (current_account != recipient && current_account != sender) %>
                            <div class="inline-block"><%= link_to "Conversazione privata fra #{recipient.username} e #{sender.username}" , conversation_messages_path(conversation) %></div>
                <% end %>
    <% end %>
</section>
<% end %>
