<section class="form-auth text-center">

<h1>Modifica messaggio</h1>

<%= render 'form', post: @post %>
<br>
<%= link_to 'Mostra messaggio', @post %> |
<%= link_to 'Vai alla board', posts_path %>
</section>
