<section class="form-auth text-left">
<h1> FAQ: Frequently Asked Questions </h1>
<br>
<h4>1) Cos'è Freepery? </h4><br>
Freepery è un social network che consente, attraverso una semplice registrazione, la pubblicazione libera di contenuti da condividere con migliaia di altri utenti.
<br><br>
<h4>2) E' gratuito? </h4><br>
Freepery è totalmente gratuito, nessun tipo di pagamento verrà mai chiesto nei processi di registrazione o pubblicazione di post e commenti.
<br><br>
<h4>3) Posso iscrivermi anche se non sono ancora maggiorenne? </h4><br>
Tutti possono iscriversi a patto che abbiano superato i 13 anni di età.
<br><br>
<h4>4) Posso condividere contenuti multimediali? </h4><br>
Il social consente momentaneamente la sola condivisione di immagini nel momento della pubblicazione del post.
<br><br>
<h4>5) Voglio discutere di un argomento sensibile con un altro utente senza che questo sia visibile agli altri, come faccio? </h4><br>
Puoi utilizzare lo strumento di conversazione privata attraverso cui è possibile scambiare messaggi con un altro utente in maniera totalmente invisibile agli altri utenti della piattaforma.
<br><br>
<h4>6) Ho "perso" un post che stavo leggendo, come lo ritrovo? </h4><br>
Se ricordi qualche parola chiave, puoi utilizzare la funzione di ricerca presente nella barra di navigazione in alto a destra.
<br><br>
<h5>7) Ho trovato un utente che pubblica sempre post interessanti, come posso leggere gli eventuali altri che ha scritto? </h5>
Puoi cliccare sul nome dell'utente in questione presente su un qualsiasi messaggio egli abbia inviato, verrai reindeirizzato sulla sua pagina profilo.
<br><br>
<h5>8) Un utente mi ha scritto un commento offensivo, cosa faccio? </h5>
Se sei l'autore del post commentato, hai tutti i privilegi per poter cancellare i commenti che non ti garbano.
<br><br>
<h5>9) Come faccio a sapere se un utente ha commentato un mio post? </h5>
Se un utente commenta un tuo post è possibile visualizzarlo attraverso la campanellina presenta nella barra di navigazione sopra.
Ogni qual volta un utente commenterà un tuo messaggio riceverai una notifica.
<br><br>
<h5>10) Cos'è la funzionalità "Utenti nelle vicinanze"? </h5>
La funzionalità ti permette di localizzare gli utenti registrati alla piattaforma residenti nel raggio di 100 Km intorno alla tua stessà città di residenza.
</section>
